:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-stack: 'Roboto', sans-serif;

  --black: #000000;
  --white: #ffffff;
  --accent: #067ead;
  --accent-light: #b1ddee;
  --accent-dark: #035a7c;
  --gold: #e6ad62;
}
