.movie {
  position: relative;
  padding: 1.5rem;
  margin-top: 3rem;
  background: rgba(241, 235, 230, 0.95);
  color: var(--black);

  .movie__info {
    display: flex;
    flex-wrap: wrap;
  }

  .movie__poster {
    position: relative;
    width: 80%;
    margin: 0 auto;

    .movie__poster-image {
      position: relative;
      top: -3rem;
      width: 100%;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -0.7rem;
      top: -3rem;
      border: 1.5rem solid transparent;
      border-bottom: 0 solid transparent;
      border-right: 0 solid transparent;
      border-left: 0.7rem solid rgb(119, 39, 32);
    }
  }

  .movie__description {
    width: 75%;
    flex-grow: 1;
    padding-left: 1.5rem;
  }

  .movie__title {
    font-weight: 700;
    font-size: 2.5rem;
  }

  .movie__synopsis {
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .movie__data {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .movie-seances__hall {
    & + .movie-seances__hall {
      margin-top: 2rem;
    }

    .movie-seances__hall-title {
      font-weight: 700;
      font-size: 2rem;
    }

    .movie-seances__list {
      margin-top: 0.7rem;
      font-size: 0;
    }

    .movie-seances__time-block {
      display: inline-block;
      margin-bottom: 4px;

      &:nth-last-of-type(n + 1) {
        margin-right: 4px;
      }
    }

    .movie-seances__time-button {
      display: block;
      padding: 8px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24),
        0px 0px 2px rgba(0, 0, 0, 0.12);
      border: none;
      border-radius: 3px;
      background-color: var(--accent-light);
      font-size: 1.7rem;

      &:disabled {
        background-color: #a4a2a2;
        pointer-events: none
      }
    }

    .movie-seances__time {
      color: var(--black);
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 540px) {
  .movie .movie__info {
    display: flex;
    flex-wrap: nowrap;
  }

  .movie .movie__poster {
    width: 25%;
  }

  .movie .movie__poster .movie__poster-image {
    position: relative;
    top: -3rem;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .movie {
    border-radius: 2px;
  }
}
