.page-nav {
  position: sticky;
  top: 2px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  color: var(--black);
  z-index: 10;

  .page-nav__day {
    flex-basis: calc(100% / 8);
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--black);
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    text-decoration: none;

    & + .page-nav__day {
      margin-left: 1px;
    }

    .page-nav__day-week::after {
      content: ',';
    }

    .page-nav__day-number::before {
      content: ' ';
    }

    .page-nav__day-week {
      font-weight: 700;
    }

    .page-nav__day-week,
    .page-nav__day-number {
      display: block;
    }
  }

  .page-nav__day_chosen {
    flex-grow: 1;
    background-color: var(--white);
    font-size: 1.4rem;
    color: var(--accent);
    transform: scale(1.1);
  }

  .page-nav__day_weekend {
    color: #de2121;
  }

  .page-nav__day_next {
    text-align: center;

    &::before {
      content: '>';
      font-family: monospace;
      font-weight: 700;
      font-size: 2.4rem;
    }
  }

  .page-nav__day_today {
    .page-nav__day-week::before {
      content: 'Сегодня';
      display: block;
    }
    .page-nav__day-week,
    .page-nav__day-number {
      display: inline;
    }
  }
}

@media (min-width: 479px) {
  .page-nav .page-nav__day {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 990px) {
  nav {
    width: 990px;
    margin: 0 auto;
  }

  .page-nav .page-nav__day {
    font-size: 1.7rem;
  }

  .page-nav .page-nav__day_chosen {
    font-size: 1.8rem;
  }
}
